@use '../util' as *;

// Source: https://css-tricks.com/box-sizing/
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--background);

  &:before {
    content: '';
    position: absolute;
    top: rem(55);
    left: 0;
    z-index: -2;
    width: 100%;
    height: rem(2);
    background: var(--top-bg);

    @include breakpoint(medium) {
      top: 0;
      margin-top: -2.5rem;
      height: calc(rem(140) + rem(120));
    }
  }
}

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
