@use '../util' as *;

body {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--text-1);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  color: var(--text-2);
}

h1 {
  font-size: rem(24);
  margin-bottom: 3px;

  @include breakpoint(large) {
    font-size: rem(28);
  }
}

h2 {
  font-size: rem(24);
  margin-bottom: rem(24);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
