@use '../util' as *;

.card {
  border-radius: rem(5);
  background-color: var(--dark-card-bg);
  padding: rem(25);
  text-align: center;
  transition: background 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-card-bg-hover);
  }

  &--facebook {
    border-top: rem(4) solid var(--facebook);
  }

  &--twitter {
    border-top: rem(4) solid var(--twitter);
  }

  &--instagram {
    // Source: https://css-tricks.com/gradient-borders-in-css/
    position: relative;
    border-top: rem(4) solid transparent;
    background-clip: padding-box;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin-top: rem(-4);
      border-radius: inherit;
      background: linear-gradient(
        to right,
        var(--instagram-start),
        var(--instagram-end)
      );
    }
  }

  &--youtube {
    border-top: rem(4) solid var(--youtube);
  }

  &__platform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(5);
    margin-bottom: rem(28);
    height: rem(20);
  }

  &__icon {
    margin-right: rem(8);
  }

  &__username {
    font-weight: 700;
    font-size: rem(12);
  }

  &__count {
    font-weight: 700;
    letter-spacing: rem(-2);
    line-height: 1;
    color: var(--dark-text-2);

    &--big {
      font-size: rem(56);
      margin-bottom: rem(4);
    }

    &--small {
      font-size: rem(32);
    }
  }

  &__label {
    margin-bottom: rem(25);
    text-transform: uppercase;
    font-size: rem(12);
    letter-spacing: rem(5);
  }

  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: rem(12);

    &--up {
      color: var(--limegreen);
    }

    &--down {
      color: var(--brightred);
    }

    img {
      margin-right: rem(4);
    }
  }
}
